<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Osvaldo Ocampo" />
    <meta name="copyright" content="Copyright Osvaldo Ocampo 2023" />
    <meta
      name="description"
      content="Hemos recopilado la información necesaria para que conozcas más sobre tu comic favorito... ¿Cuál es el tuyo?"
    />
    <meta
      name="keywords"
      content="all, new, spider-man, comic, comics, ultimate, spider, miles, morales, peter, tío, ghost, miguel, parker"
    />
    <meta name="robots" content="index, follow" />
    <title>
      Detalles del Comic | Conoce a detalle información importante de tu comic
      favorito
    </title>
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="../assets/images/general/favicon.png"
      type="image/x-icon"
    />
    <!-- Bootstrap stylesheet -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <!-- Slick stylesheets -->
    <link rel="stylesheet" href="../css/slick.css" />
    <link rel="stylesheet" href="../css/slick-theme.css" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <!-- Navigation -->
    <header class="o-shadow-header fixed-top">
      <nav class="navbar navbar-expand-lg c-navbar">
        <div class="container">
          <a class="navbar-brand" href="../index.html">
            <img
              src="../assets/images/general/logotipo.png"
              alt="Spiderverso logo"
              class="navbar-brand__logo"
            />
          </a>
          <button
            class="navbar-toggler c-navbar__toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <label class="c-hamburger">
              <input
                class="c-hamburger__checkbox"
                type="checkbox"
                id="checkbox"
              />
              <svg class="c-hamburger__vector" viewBox="0 0 32 32">
                <path
                  class="c-hamburger__line c-hamburger__line--top-bottom"
                  d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"
                ></path>
                <path class="c-hamburger__line" d="M7 16 27 16"></path>
              </svg>
            </label>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav c-navbar__nav">
              <li class="nav-item c-navbar__item">
                <a
                  class="nav-link c-navbar__link"
                  aria-current="page"
                  href="../index.html"
                  >Inicio</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Main -->
    <main class="o-main">
      <div class="o-container-bg o-container-bg--comic"></div>
      <div class="container">
        <div class="row mb-5">
          <section class="col-12 col-lg-5 pe-lg-5 mb-5 mb-lg-0">
            <h1 class="o-font-title">All New Spider-Man</h1>
            <p class="o-font-body mt-5">
              Ultimate Comics: All New Spider-Man es un cómic book publicado en
              el año 2011 por Marvel Comics, como parte de un relanzamiento de
              Ultimate Marvel. Esta sirve como una continuación de Ultimate
              Comics: Spider-Man, así como una serie totalmente nueva que narra
              las aventuras de Miles Morales, un chico de 13 años que obtiene
              sus poderes antes de que Spider-Man (del universo ultimate mas no
              el original) muriera. Está escrito por el guionista Brian Michael
              Bendis, y esta dibujado por Sara Pichelli.
            </p>
            <p class="o-font-body">
              En otra parte de la ciudad, un chico de color llamado Miles
              Morales, quien no tiene muchas oportunidades de estudio, gana en
              un sorteo para entrar en una de las más prestigiosas escuelas del
              país.
            </p>
            <p class="o-font-body">
              Al despertar, Miles ve que su padre salió a buscarlo y lo encontró
              en el departamento de su tío, pero al empezar a discutir, Miles
              corre tanto como puede y cuando había unos hombres cargando un
              vidrio, Miles salta muy alto, y ve que ahora tiene una agilidad
              asombrosa, y cuando pasa el padre de Miles sale a buscarlo, pasa
              junto a él y no lo ve, entonces Miles se da cuenta de que es
              invisible.
            </p>
          </section>
          <div
            class="col-12 col-lg-7 d-lg-flex flex-lg-column justify-content-lg-center"
          >
            <figure class="u-fade-left">
              <img
                src="../assets/images/comics/all-spider-lg.webp"
                alt="Imagen de Miles Morales columpiandose"
                class="img-fluid img-fluid--comic"
              />
            </figure>
          </div>
        </div>
        <div class="row">
          <section class="col-xxl-7">
            <h2 class="o-font-subtitle-sm">Personajes dentro del comic</h2>
            <div class="c-slider c-slider--variant-sm" id="leftSlider">
              <div class="card c-card">
                <img
                  src="../assets/images/characters/miles.webp"
                  class="c-card__img"
                  alt="Imagen de Miles Morales"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title c-card__title">
                    <a class="c-card__link" href="./character-detail.html"
                      >Miles Morales</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card c-card">
                <img
                  src="../assets/images/characters/spider-b-parker.webp"
                  class="c-card__img"
                  alt="Imagen de Peter Parker"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title c-card__title">
                    <a class="c-card__link" href="./character-detail.html"
                      >Peter Parker</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card c-card">
                <img
                  src="../assets/images/characters/gwen.webp"
                  class="c-card__img"
                  alt="Imagen de Ghost Spider"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title c-card__title">
                    <a class="c-card__link" href="./character-detail.html"
                      >Ghost Spider</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card c-card">
                <img
                  src="../assets/images/characters/spider-2099.webp"
                  class="c-card__img"
                  alt="Imagen de Miguel O'Hara"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title c-card__title">
                    <a class="c-card__link" href="./character-detail.html"
                      >Miguel O'Hara</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card c-card">
                <img
                  src="../assets/images/characters/spider-noir.webp"
                  class="c-card__img"
                  alt="Imagen de Spider Noir"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title c-card__title">
                    <a class="c-card__link" href="./character-detail.html"
                      >Spider Noir</a
                    >
                  </strong>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="c-footer">
      <div class="container c-footer__container">
        <p class="c-footer__copyright">
          <strong>Spiderverso | Todos los derechos reservados ©</strong>
        </p>
        <div class="c-social-networks">
          <a
            href="../404-error.html"
            class="c-social-networks__link c-social-networks__link--facebook"
          >
            <span class="sr-only">Ir al Facebook oficial del Spiderverso</span>
            <span class="c-social-networks__tooltip">Facebook</span>
            <img
              src="../assets/images/social/facebook.svg"
              alt="Logotipo de Facebook"
              class="c-social-networks__logo"
            />
          </a>
          <a
            href="../404-error.html"
            class="c-social-networks__link c-social-networks__link--twitter"
          >
            <span class="sr-only">Ir al Twitter oficial del Spiderverso</span>
            <span class="c-social-networks__tooltip">Twitter</span>
            <img
              src="../assets/images/social/twitter.svg"
              alt="Logotipo de Twitter"
              class="c-social-networks__logo"
            />
          </a>
          <a
            href="../404-error.html"
            class="c-social-networks__link c-social-networks__link--google"
          >
            <span class="sr-only"
              >Ir a la cuenta de Google del Spiderverso</span
            >
            <span class="c-social-networks__tooltip">Google</span>
            <img
              src="../assets/images/social/google.svg"
              alt="Logotipo de Google +"
              class="c-social-networks__logo"
            />
          </a>
        </div>
      </div>
    </footer>

    <!-- Bootstrap script -->
    <script src="../js/bootstrap.min.js"></script>

    <!-- necessary for the operation of the slider -->
    <script src="../js/jquery-1.11.0.min.js"></script>
    <script src="../js/jquery-migrate-1.2.1.min.js"></script>
    <script src="../js/slick.min.js"></script>

    <!-- Data & My Scripts -->
    <script src="../js/scripts.js"></script>
  </body>
</html>
