<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Osvaldo Ocampo" />
    <meta name="copyright" content="Copyright Osvaldo Ocampo 2023" />
    <meta
      name="description"
      content="En esta galería recopilamos imágenes de algunos de los comic's más representativos del Spiderverso, conócelos y disfruta sus historias."
    />
    <meta
      name="keywords"
      content="spiderman, amazing, ultimate, spider, 2099, ham, marvel, masacre, miles, morales, peter, civil, war, all, luck, ben, reilly, verse"
    />
    <meta name="robots" content="index, follow" />
    <title>Comics | Conoce los mejores comic del Spiderverso</title>
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="../assets/images/general/favicon.png"
      type="image/x-icon"
    />
    <!-- Bootstrap stylesheet -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <!-- Navigation -->
    <header class="o-shadow-header fixed-top">
      <nav class="navbar navbar-expand-lg c-navbar">
        <div class="container">
          <a class="navbar-brand" href="../index.html">
            <img
              src="../assets/images/general/logotipo.png"
              alt="Spiderverso logo"
              class="navbar-brand__logo"
            />
          </a>
          <button
            class="navbar-toggler c-navbar__toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <label class="c-hamburger">
              <input
                class="c-hamburger__checkbox"
                type="checkbox"
                id="checkbox"
              />
              <svg class="c-hamburger__vector" viewBox="0 0 32 32">
                <path
                  class="c-hamburger__line c-hamburger__line--top-bottom"
                  d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"
                ></path>
                <path class="c-hamburger__line" d="M7 16 27 16"></path>
              </svg>
            </label>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav c-navbar__nav">
              <li class="nav-item c-navbar__item">
                <a
                  class="nav-link c-navbar__link"
                  aria-current="page"
                  href="../index.html"
                  >Inicio</a
                >
              </li>
              <li class="nav-item c-navbar__item">
                <a class="nav-link c-navbar__link" href="./characters.html"
                  >Spiderverso</a
                >
              </li>
              <li class="nav-item c-navbar__item">
                <a class="nav-link c-navbar__link active" href="./comics.html"
                  >Comics</a
                >
              </li>
              <li class="nav-item c-navbar__item">
                <a class="nav-link c-navbar__link" href="./videos.html"
                  >Videos</a
                >
              </li>
              <li class="nav-item c-navbar__item">
                <a class="nav-link c-navbar__link" href="./contact-us.html"
                  >Contáctanos</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Main -->
    <main class="o-main">
      <div class="o-container-bg o-container-bg--comics"></div>
      <div class="container">
        <div class="row">
          <section class="col-12 col-lg-10">
            <h1 class="o-font-title">Comics</h1>
            <p class="o-font-body-lg mt-4">
              El estreno de “Spider-Man: Cruzando el Multiverso ” (“Spider-Man:
              Across the Spider-verse”), la secuela de “Spider-Man: Un nuevo
              universo” (“Spider-Man: Into the Spider-verse”) ha dejado una cosa
              muy clara al público generalista: hay muchas variantes de
              Spider-Man. Es decir, muchas versiones alternativas del héroe.
              Aunque los más conocidos de estos Spideys alternativos son
              precisamente los protagonistas de esta película, Miles Morales y
              la Spider-Gwen Stacy (así como la versión cuarentona de Spidey),
              hemos creído oportuno repasar también al resto de Spideys de otros
              universos que aparecen en esta película. Aunque sea a modo de
              cameo.
            </p>
          </section>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="o-container-gallery">
              <div class="card c-card">
                <img
                  src="../assets/images/comics/all-spider.webp"
                  class="c-card__img"
                  alt="Imagen de la portada de All - new Spider-man"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title c-card__title">
                    <a class="c-card__link" href="./comic-detail.html"
                      >All-New Spiderman</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card c-card">
                <img
                  src="../assets/images/comics/miles-morales-1.webp"
                  class="c-card__img"
                  alt="Imagen de la portada de Miles Morales No. 1"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title c-card__title">
                    <a class="c-card__link" href="./comic-detail.html"
                      >Miles Morales No. 1</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card c-card">
                <img
                  src="../assets/images/comics/masacre.webp"
                  class="c-card__img"
                  alt="Imagen de la portada de Ultimate Spiderman - Masacre"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title c-card__title">
                    <a class="c-card__link" href="./comic-detail.html"
                      >Ultimate Spider - Masacre</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card c-card">
                <img
                  src="../assets/images/comics/2099.webp"
                  class="c-card__img"
                  alt="Imagen de la portada de Spiderman-2099"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title c-card__title">
                    <a class="c-card__link" href="./comic-detail.html"
                      >Spider-man 2099 - Número 1</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card c-card">
                <img
                  src="../assets/images/comics/spider-ham.webp"
                  class="c-card__img"
                  alt="Imagen de la portada de Spider-Ham"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title c-card__title">
                    <a class="c-card__link" href="./comic-detail.html"
                      >Spider Ham - Civil War</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card c-card">
                <img
                  src="../assets/images/comics/miles-morales-39.webp"
                  class="c-card__img"
                  alt="Imagen de la portada de Miles Morales No. 39"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title c-card__title">
                    <a class="c-card__link" href="./comic-detail.html"
                      >Miles Morales No. 39</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card c-card">
                <img
                  src="../assets/images/comics/the-amazing.webp"
                  class="c-card__img"
                  alt="Imagen de la portada de the Amazing Spider-man"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title c-card__title">
                    <a class="c-card__link" href="./comic-detail.html"
                      >The Amazing Spider-man #60</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card c-card">
                <img
                  src="../assets/images/comics/peter-porker.webp"
                  class="c-card__img"
                  alt="Imagen de la portada de Peter Porker - Spider Ham"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title c-card__title">
                    <a class="c-card__link" href="./comic-detail.html"
                      >Peter Porker - Spider Ham</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card c-card">
                <img
                  src="../assets/images/comics/miles-morales.webp"
                  class="c-card__img"
                  alt="Imagen de la portada de Miles Morales - New Spiderman"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title c-card__title">
                    <a class="c-card__link" href="./comic-detail.html"
                      >Miles Morales New Spiderman</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card c-card">
                <img
                  src="../assets/images/comics/amazing-sipider.webp"
                  class="c-card__img"
                  alt="Imagen de la portada de The Amazing Spider-man"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title c-card__title">
                    <a class="c-card__link" href="./comic-detail.html"
                      >The Amazing Spider-man</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card c-card">
                <img
                  src="../assets/images/comics/ben-reilly.webp"
                  class="c-card__img"
                  alt="Imagen de la portada de Spiderman - Ben Reilly"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title c-card__title">
                    <a class="c-card__link" href="./comic-detail.html"
                      >Spiderman - Ben Reilly</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card c-card">
                <img
                  src="../assets/images/comics/the-parker-luck.webp"
                  class="c-card__img"
                  alt="Imagen de la portada de The Amazing Spiderman The Parker Luck"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title c-card__title">
                    <a class="c-card__link" href="./comic-detail.html"
                      >Spiderman - The Parker Luck</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card c-card">
                <img
                  src="../assets/images/comics/civil-war.webp"
                  class="c-card__img"
                  alt="Imagen de la portada de The Amazing Spiderman - Civil War"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title c-card__title">
                    <a class="c-card__link" href="./comic-detail.html"
                      >Spiderman - Civil War</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card c-card">
                <img
                  src="../assets/images/comics/peter-parker.webp"
                  class="c-card__img"
                  alt="Imagen de la portada de Peter Parker - Spiderman"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title c-card__title">
                    <a class="c-card__link" href="./comic-detail.html"
                      >Peter Parker Spiderman</a
                    >
                  </strong>
                </div>
              </div>
              <div class="card c-card">
                <img
                  src="../assets/images/comics/peter-parker-spectacular.webp"
                  class="c-card__img"
                  alt="Imagen de la portada de Peter Parker - The Spectacular Spiderman"
                />
                <div class="card-img-overlay p-0">
                  <strong class="card-title c-card__title">
                    <a class="c-card__link" href="./comic-detail.html"
                      >The Spectacular Spiderman</a
                    >
                  </strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="c-footer">
      <div class="container c-footer__container">
        <p class="c-footer__copyright">
          <strong>Spiderverso | Todos los derechos reservados ©</strong>
        </p>
        <div class="c-social-networks">
          <a
            href="../404-error.html"
            class="c-social-networks__link c-social-networks__link--facebook"
          >
            <span class="sr-only">Ir al Facebook oficial del Spiderverso</span>
            <span class="c-social-networks__tooltip">Facebook</span>
            <img
              src="../assets/images/social/facebook.svg"
              alt="Logotipo de Facebook"
              class="c-social-networks__logo"
            />
          </a>
          <a
            href="../404-error.html"
            class="c-social-networks__link c-social-networks__link--twitter"
          >
            <span class="sr-only">Ir al Twitter oficial del Spiderverso</span>
            <span class="c-social-networks__tooltip">Twitter</span>
            <img
              src="../assets/images/social/twitter.svg"
              alt="Logotipo de Twitter"
              class="c-social-networks__logo"
            />
          </a>
          <a
            href="../404-error.html"
            class="c-social-networks__link c-social-networks__link--google"
          >
            <span class="sr-only"
              >Ir a la cuenta de Google del Spiderverso</span
            >
            <span class="c-social-networks__tooltip">Google</span>
            <img
              src="../assets/images/social/google.svg"
              alt="Logotipo de Google +"
              class="c-social-networks__logo"
            />
          </a>
        </div>
      </div>
    </footer>

    <!-- Bootstrap script -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- My Scripts -->
    <script src="../js/scripts.js"></script>
  </body>
</html>
