//TYPOGRAPHY
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Bold.eot");
  src: url("../assets/fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/Lato-Bold.woff2") format("woff2"),
    url("../assets/fonts/Lato-Bold.woff") format("woff"),
    url("../assets/fonts/Lato-Bold.svg#Lato-Bold") format("svg"),
    url("../assets/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Light.eot");
  src: url("../assets/fonts/Lato-Light.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/Lato-Light.woff2") format("woff2"),
    url("../assets/fonts/Lato-Light.woff") format("woff"),
    url("../assets/fonts/Lato-Light.svg#Lato-Light") format("svg"),
    url("../assets/fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Regular.eot");
  src: url("../assets/fonts/Lato-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/Lato-Regular.woff2") format("woff2"),
    url("../assets/fonts/Lato-Regular.woff") format("woff"),
    url("../assets/fonts/Lato-Regular.svg#Lato-Regular") format("svg"),
    url("../assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato Hairline";
  src: url("../assets/fonts/Lato-Hairline.eot");
  src: url("../assets/fonts/Lato-Hairline.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/Lato-Hairline.woff2") format("woff2"),
    url("../assets/fonts/Lato-Hairline.woff") format("woff"),
    url("../assets/fonts/Lato-Hairline.svg#Lato-Hairline") format("svg"),
    url("../assets/fonts/Lato-Hairline.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

//General variables
$font-primary: "Lato", sans-serif;

// Font weight
$font-thin: 300;
$font-regular: 400;
$font-bold: 700;

// Font size
$font-size-xs: 0.5rem; //8px
$font-size-s: 0.875rem; //14px
$font-size-m: 1rem; //16px
$font-size-l: 1.5rem; // 24px
$font-size-xl: 2.25rem; // 36px
$font-size-xxl: 3rem; // 48px
$font-size-xxxl: 3.875rem; // 62px
$font-size-xxxxl: 5rem; // 80px

// Line-height
$line-height: 1.5; //minimo por accesibilidad

// Letter-spacing
$letter-spacing: 0;

// Title
$font-title: $font-primary;
$font-title-size: $font-size-xxl;
$font-title-weight: $font-bold;
$title-line-height: 1;
$title-color: map-get(
  $map: $colors,
  $key: "color-white",
);
$title-letter-spacing: 0;

// Subtitle
$font-subtitle: $font-primary;
$font-subtitle-size: $font-size-xl;
$font-subtitle-weight: $font-bold;
$subtitle-line-height: 1;
$subtitle-color: map-get(
  $map: $colors,
  $key: "color-white",
);
$subtitle-letter-spacing: 0;

// Subtitle sm
$font-subtitle-sm: $font-primary;
$font-subtitle-sm-size: $font-size-xl;
$font-subtitle-sm-weight: $font-bold;
$subtitle-sm-line-height: 1;
$subtitle-sm-color: map-get(
  $map: $colors,
  $key: "color-white",
);
$subtitle-sm-letter-spacing: 0;

// BODY
$font-body-family: $font-primary;
$font-body-size: $font-size-m;
$font-body-weight: $font-regular;
$body-line-height: $line-height;
$body-color: map-get(
  $map: $colors,
  $key: "color-white",
);
$body-letter-spacing: $letter-spacing;
