// General styles

html {
  font-size: 100%;
}

html,
body {
  background: url(../assets/images/general/pattern.png);
  z-index: z(body);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: $font-primary;
  font-weight: $font-regular;
  font-size: 1rem;
  padding: 0;
  position: relative;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
  list-style: none;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

figure {
  margin: 0;
}
