// OVERRIDES

// Navbar bootstrap
.navbar-collapse {
  justify-content: flex-end;
}

.navbar-brand__logo {
  height: rem(55px);
  width: 100%;
}

.navbar-toggler:focus,
.navbar-toggler:focus:not(:focus-visible) {
  box-shadow: none;
  outline: 1px solid var(--color-white);
}

// Card overlay bootstrap
.card-img-overlay {
  .c-card & {
    display: flex;
    align-items: flex-end;
  }
}

// Img fluid bootstrap
.img-fluid {
  &--comic {
    border-radius: rem(8px);
    border-top: rem(12px) solid map-get($map: $colors, $key: "color-white");
    border-bottom: rem(12px) solid map-get($map: $colors, $key: "color-white");
    display: block;
    margin: 0 auto;
    max-width: rem(560px);
    width: 100%;
  }
}
